@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 375px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    background: url(images/pattern-background-mobile.svg) no-repeat ;
    background-size: contain;
    background-position: top center;
    background-color: hsl(225, 100%, 94%);
    text-align: center;
    color: hsl(223, 47%, 23%);
    margin: 0 auto;
}

.card {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white ;
    margin: 10% auto;
    border-radius: 15px;
}

.order-sumary p {
    width: 265px;
}

.hero {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h1 {
    font-weight: 900;
    font-size: 1.4rem;
    margin: 15px;
}

h2 {
    font-weight: 900;
}

p {
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
}

.plan-container {
    display: flex;
    align-items: center;
    background: hsl(225, 100%, 98%);
    border-radius: 10px;
    width: 85%;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
}

.plan-container  h2 {
    font-size: 0.9rem;
    font-weight: 700;
}

.btns {
    width: 85%;
    margin: 20px;
}

a {
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}

.btns a {
    text-decoration: none;
}

.proceed-btn {
    display: block;
    width: 100%;
    background: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    padding: 15px;
    font-size: 0.9rem;
    box-shadow: 0px 16px 10px 2px hsl(225, 100%, 94%);
}

.cancel-btn {
    color: hsl(224, 23%, 55%);
}

a:hover {
    opacity: 0.7;
}

.cancel-btn:hover {
    opacity: 1;
    color: hsl(223, 47%, 23%);
}

@media(min-width: 400px) {
    #container {
        width: 100%;
        background: url(images/pattern-background-desktop.svg) no-repeat ;
        background-size: contain;
        background-position: top center;
        background-color: hsl(225, 100%, 94%);
        text-align: center;
        color: hsl(223, 47%, 23%);
        margin: auto;
    }
}



footer {
    padding: 1.5em;
}
